body{
  text-align: justify;
  background-color: #fbdff0;
}

.pic{
  border-radius: 50%;
  height: 150px;
}
hr{
  border: dotted #dddc92 4px;
  width: 7%;
  border-bottom: none;
  margin: 5px auto;
}
